.customsection{
    background-image: url(../../../assets/assets/images/karavan-images/promises/camels2.jpg); 
    /* height: 80vh; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

