<app-navbar></app-navbar>


<section class="customsection">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="customheading" style="background:url('background-image: url(assets/assets/images/bg-28.jpg);')" >
            <h2 class="text-center text-bold text-xl anima" style="font-family:Lithos !important; color: #004332; line-height: normal; font-size: 80px !important; font-weight:900;"> KARAVAN COFFEE JOURNEEY</h2>

            <div style="margin: 0px auto; text-align: center; padding-bottom: 50px;">
                <p class="customheadingP" style="color:#004332; font-weight:bold;">
                </p>
            </div>
               
                <section class="container images">
                   

                </section>
        </div>
    </div>
</section>
<div  style="background: white;" >
        <div class="container" style="background-image: url(assets/assets/images/karavan-images/promises/taste-bg.jpg); transform: translateY(-30%)">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2 style="color: #004332;" data-aos="fade-up"   data-aos-duration="3000"> Coffee Journey </h2>
                    <p style="color: #004332;" data-aos="fade-up"   data-aos-duration="3000">Our Objective!</p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-center text-center">
                        <p style="margin-bottom: 20px; color: #004332;" data-aos="fade-up"   data-aos-duration="3000">
                            Have you wondered how a coffee plant originated in the heartiand of Ethiopia spread to the rest of the world? 
                            Further more, how did it evolve into the most widely consumed drink on the planet?
                            The answer lies within Karavan!
                            The coffee plant was the perfect snack for the karavan of traders travelling from the Arabian
                            Peninsula to the mountains of Ethiopia for trade. Travelling long distance at night, surrounded and taunted by 
                            dangerous wild-life, the coffee drink allowed them to stay brave & awake without the need for much rest
                            The traders used the coffee drink to awaken their senses through the night during long hours of travel. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>
   
<div class="section-bg-image  text-center white"  style="background-color: #004332 !important; margin-top: -120px;">
 <div class="container">
     <div class="row" >
         <div class="col-md-6">
                    <img data-aos="fade-up"   data-aos-duration="3000" src="assets/assets/images/karavan-images/promises/coffeep4.png" alt="" />
         </div>
         <div class="col-md-6 "  style="display: flex; align-items: center;">

             <div>
                 <p data-aos="fade-up"   data-aos-duration="3000" style="color: #D6B13E !important; line-height: normal; font-size: 30px; font-weight: 
                 bold;">
                 Savor the rich and creamy taste of our perfectly crafted Machiatto, designed to invigorate your senses and energize your day!
             </p>
             <p data-aos="fade-up"   data-aos-duration="3000" style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:white !important;">
                Come and Try Our  <a href="#" style="color: #9D5035;">Macchiato!</a>
             </p>
             </div>
             
     </div>

 
     </div>
</div>

</div>


<div class="section-bg-image  text-center white"  style="background-color: white !important;">
    <div class="container" style="padding: 60px 0px;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 p-0" >
                       <img style="height: 100%; width: 100%;" data-aos="flip-left"  data-aos-easing="ease-out-cubic"  data-aos-duration="3000"  src="assets/assets/images/karavan-images/coffee/22.jpg" alt="" />
                    </div>
                    <div class="col-6 p-0">
                        <img style="height: 100%; width: 100%;" data-aos="flip-left"   data-aos-easing="ease-out-cubic"   data-aos-duration="3000"  src="assets/assets/images/karavan-images/coffee/33.jpeg" alt="" />
                     </div>
                </div>
                <div class="row" style="--bs-gutter-x: 0;">
                    <img data-aos="fade-up"   data-aos-duration="3000" src="assets/assets/images/karavan-images/coffee/11.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6 " style="margin: auto;">
                <div class="title-base " data-aos="fade-up"   data-aos-duration="3000">
                    <h4 style="color: #004332 !important;"> 
                        "From Farm to Roastery: Karavan Coffee Company's Ethical and Sustainable Practices in Harvesting, Collecting, and Drying High-Quality Coffee Beans"
                    </h4>
                    <p style="color: #004332 !important;">Layers of Happiness!</p>
                </div>
                
                <p style="color: #004332 !important;" data-aos="fade-up"   data-aos-duration="3000">
                   

                      Coffee harvesting, collecting, and drying are critical 
                      steps in the production process of Karavan Coffee Company's 
                      high-quality coffee. During harvesting, coffee cherries are 
                      selectively picked when they are fully ripe and have the highest 
                      sugar content. These cherries are then collected and processed, 
                      with the outer layers removed to reveal the beans. The beans are 
                      then washed and dried to remove excess moisture, allowing for better 
                      storage and shipping. This entire process requires careful attention
                       to detail to ensure that the coffee beans retain their unique 
                       flavor profile and aroma, resulting in a premium product that 
                       Karavan Coffee Company is known for. 
                </p>
                <p style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#004332 !important;">
                   Come and Try Our  <a href="#" style="color: #9D5035;">Macchiato!</a>
                </p>
        </div>

    
        </div>
   </div>

</div>
<!-- 
   <div class="section-bg-image  text-center white"  style="background-color: #004332 !important;">
    <div class="container">
        <div class="row" >
            <div class="col-md-6">
                       <img src="assets/assets/images/karavan-images/promises/coffeep4.png" alt="" />
            </div>
            <div class="col-md-6" style="display: flex; align-items: center;">
                <div >
                    <p style="color: #D6B13E !important; line-height: normal; font-size: 30px; font-weight: 
                    bold;">
                        Savor the rich and creamy taste of our perfectly crafted Machiatto, designed to invigorate your senses and energize your day!
                    </p>
                    <p style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:white !important;">
                       Come and Try Our  <a href="#" style="color: #9D5035;">Macchiato!</a>
                    </p>
                </div>
            </div>
        </div>
   </div>
   </div> -->


   <div  style="background: white;">

   <div class="container" style="padding: 60px 0px;">
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            <div class="title-base " data-aos="fade-up"   data-aos-duration="3000">
                <h4 style="color: #004332 !important;">"Crafting the Perfect Cup: Karavan Coffee Company's Artful Approach to Roasting, Grinding, and Serving Specialty Coffee"</h4>
                <p style="color: #004332 !important;">Layers of Happiness!</p>
            </div>
            
            <p style="color: #004332 !important;" data-aos="fade-up"   data-aos-duration="3000">
                Karavan Coffee Company roasts high-quality coffee beans using modern 
                roasting equipment that allows for precise temperature control, ensuring 
                a consistent and flavorful roast. Once the beans are roasted, they are 
                expertly ground using top-of-the-line grinders, which produce a consistent
                 grind size for optimal extraction. The coffee is then carefully brewed and 
                 served to customers, with a focus on providing a high-quality and enjoyable 
                 coffee experience. From roasting to serving, Karavan Coffee Company takes 
                 pride in every step of the process to deliver a delicious cup of coffee
                  to their customers.  
            </p>
            <p data-aos="fade-up"   data-aos-duration="3000" style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#004332 !important;">
               Come and Try Our  <a href="#" style="color: #9D5035;">Macchiato!</a>
            </p>
            
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-6 p-0">
                   <img style="height: 100%; width: 100%;" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000" src="assets/assets/images/karavan-images/coffee/44.jpg" alt="" />
                </div>
                <div class="col-md-6 p-0">
                    <img  style="height: 100%; width: 100%;" data-aos="flip-left" data-aos-easing="ease-out-cubic"   data-aos-duration="3000" src="assets/assets/images/karavan-images/coffee/4444.jpg" alt="" />
                 </div>
            </div>
            <div class="row" style="--bs-gutter-x: 0;">
                <img data-aos="fade-up"   data-aos-duration="3000" style="height: 20rem !important;" src="assets/assets/images/karavan-images/coffee/44444.jpg" alt="" />
            </div>
    </div>


    </div>
   </div>

   </div>

   <div style="background: white !important;">
    <div class="container" style="padding: 60px 0px;">
     <div class="row" >
         <div class="col-md-6">
             <div class="row">
                 <div class="col-md-6 p-0">
                    <img  style="height: 100%; width: 100%;" data-aos="flip-left"   data-aos-easing="ease-out-cubic"   data-aos-duration="3000" src="assets/assets/images/karavan-images/coffee/55.jpg" alt="" />
                 </div>
                 <div class="col-md-6 p-0">
                     <img  style="height: 100%; width: 100%;" data-aos="flip-left"    data-aos-easing="ease-out-cubic"    data-aos-duration="3000" src="assets/assets/images/karavan-images/coffee/555.jpg" alt="" />
                  </div>
             </div>
             <div class="row"  style="--bs-gutter-x: 0;">
                 <img data-aos="fade-up"   data-aos-duration="3000" style="height: 20rem !important;" src="assets/assets/images/karavan-images/coffee/5555.jpg" alt="" />
             </div>
         </div>
         <div class="col-md-6 " style="margin: auto;">
             <div class="title-base " data-aos="fade-up"   data-aos-duration="3000">
                 <h4 style="color: #004332 !important;">"Preserving Freshness and Flavor: Karavan Coffee Company's Commitment to Quality Coffee Packaging"</h4>
                 <p style="color: #004332 !important;">Layers of Happiness!</p>
             </div>
             
             <p style="color: #004332 !important;" data-aos="fade-up"   data-aos-duration="3000">
                
 
                   Karavan Coffee Company takes great care in packaging their freshly
                    roasted coffee beans to ensure that the quality and flavor are preserved. 
                    The coffee is carefully measured and sealed in high-quality bags that are 
                    designed to keep out air, light, and moisture. Once packaged, the coffee is 
                    made available to customers through their online store, as well as in their
                     cozy coffee shops, where skilled baristas prepare and serve each cup with 
                     precision and care. Karavan Coffee Company's commitment to quality extends
                      to every step of the process, from packaging to serving, ensuring that each
                       cup of coffee is a delicious and enjoyable experience for their customers.
             </p>
             <p style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#004332 !important;" data-aos="fade-up"   data-aos-duration="3000">
                Come and Try Our  <a href="#" style="color: #9D5035;">Macchiato!</a>
             </p>
     </div>
 
 
     </div>
 </div>
 
 <div class="section-bg-color" style="background-color: white !important; background: url(assets/assets/images/karavan-images/bg/bg3.jpg) ; background-size: 100%; background-repeat: no-repeat;">
    <div class="container content">
        <h2 style="text-align: center;color: #004332 !important; font-weight: bold;" data-aos="fade-up"   data-aos-duration="2000">Know Us Better</h2>
    <div class="row" data-aos="fade-up"   data-aos-duration="2000">
       
        <div class="col-md-3">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <i class="im-conference text-xl"></i>
                </div>
                <div class="icon-box-cell">
                    <i class="fa fa-coffee  knowusbetter" aria-hidden="true"></i>
                    <h4 style="font-size:50px;font-weight:bold; color:black;  font-family: Reliant_Free !important;">Tradition</h4>
                    <p  style="color: black; font-family: Poppins; font-style: italic; padding-top: 10px; font-size: 20px; letter-spacing: 2px; word-spacing: 5px;">Macchiato sold at our Flagship branch since opening. Macchiato sold at our Flagship branch since opening. </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <i class="im-conference text-xl"></i>
                </div>
                <div class="icon-box-cell">
                    <i class="fa fa-check-square-o  knowusbetter" aria-hidden="true"></i>

                    <h4 style="font-size:50px;font-weight:bold; color:black;  font-family: Reliant_Free !important;">Quality</h4>
                    <p  style="color: black; font-family: Poppins; font-style: italic; padding-top: 10px; font-size: 20px; letter-spacing: 2px; word-spacing: 5px;">Macchiato sold at our Flagship branch since opening. Macchiato sold at our Flagship branch since opening. </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <i class="im-conference text-xl"></i>
                </div>
                <div class="icon-box-cell">
                
                    <i class="fa fa-pencil-square-o  knowusbetter" aria-hidden="true"></i>

                    <h4 style="font-size:50px;font-weight:bold; color:black;  font-family: Reliant_Free !important;">Creativity</h4>
                    <p  style="color: black; font-family: Poppins; font-style: italic; padding-top: 10px; font-size: 20px; letter-spacing: 2px; word-spacing: 5px;">Macchiato sold at our Flagship branch since opening. Macchiato sold at our Flagship branch since opening. </p>
                </div>
            </div>
        </div>
       
        <div class="col-md-3">
            <div class="icon-box icon-box-top-bottom">
                <div class="icon-box-cell">
                    <i class="im-conference text-xl"></i>
                </div>
                <div class="icon-box-cell">
                
                    <i class="fa fa-music  knowusbetter" aria-hidden="true"></i>
                    <h4 style="font-size:50px;font-weight:bold; color:black;  font-family: Reliant_Free !important;">Passion</h4>
                    <p  style="color: black; font-family: Poppins; font-style: italic; padding-top: 10px; font-size: 20px; letter-spacing: 2px; word-spacing: 5px;">Macchiato sold at our Flagship branch since opening. Macchiato sold at our Flagship branch since opening. </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="section-bg-image  text-center white"  style="background-color: white !important; ">
    <div id="customgallery">
        <ng-container *ngFor="let g of hello | slice: 0: totalNumberOfRecordsToShow ">
            <a  class="img-box i-bottom-right" data-lightbox="modals" data-title="{{g.eventTitle}}" href="{{g.imagePath}}">
            <img [src]="g.imagePath" alt="" />
            </a>
            <!-- <img  src="{{g.image}}" alt="" /> -->
        </ng-container>
        </div>
        <div  class="loadmorebtn">
            <a class="hover-underline-animation"   *ngIf="isLoadMoreVisible" (click)="loadMoreButtonClicked()">
                Load More Photos... 
            </a>
        </div>
</div>
      <app-public-footer></app-public-footer>
