<app-navbar></app-navbar>


    <div id="pagewrap" class="pagewrap">
        <div id="html-content" class="wrapper-content">
         <div class="header-title ken-burn white" style="background-image: url(../../../../assets/assets/images/bg-28.jpg)">
            <div style="position: absolute; top: 40%; left: 50%; transform:translate(-50%, -50%);">
                <div class="title-base">
                    <h1>Create Account</h1>
                    <p style="font-family: Reliant_Free !important;
                    font-size: 35px !important;
                    font-weight: bold;">Create a free Karavan Account</p>
                </div>
            </div>
        </div>
        <div class="title-base" style="transform: translateY(-100%);">
        
         <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
         </div>
         <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
         </div>
         <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
         </div>
         <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 30px; margin-top: 3px;">
         </div>
         <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
         </div>
     </div>

                        <div style="transform: translateY(-15%)" class="container">
                           <div class="row justify-content-center">
                              <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                                 <div class="card mb-3">
                                    <div class="card-body">
                                       <div class="pt-4 pb-2">
                                          <h5 style="font-family: Lithos;" class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                          <p class="text-center small">Enter your personal details to create account</p>
                                       </div>
                                       <form class="row g-3" [formGroup]="registerForm" >
                                          
                                          <input type="hidden" value="Customer"  formControlName="role"/>
                                          <div class="row">
                                             <div class="col-md-6">
                                                <label for="fullName" class="form-label">Your Full Name</label> 
                                                <input type="text" formControlName="fullName" class="form-control" id="fullName" required>
                                                <div class="text-danger" *ngIf="registerForm.controls['fullName'].dirty && registerForm.hasError('required','fullName')"> * Please, Enter Your First Name!</div>
                                                <!-- <div class="text-danger" *ngIf="registerForm.controls['fullName'].dirty && registerForm.hasError('pattern','fullName')"> *No Space Allowed!</div> -->
                                                
                                             </div>

                                          </div>
                                         
                                          <div class="col-12">
                                             <label for="email" class="form-label">Your Email</label> 
                                             <input type="email" formControlName="email" class="form-control" id="email" >
                                             <div class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')"> * Please Enter a Valid Email Adddress!</div>
                                          </div>
                                          <div class="col-12">
                                             <label for="phoneNumber" class="form-label">Phone Number</label>
                                             <div class="input-group has-validation">
                                                 <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" required>
                                                <div class="text-danger" *ngIf="registerForm.controls['phoneNumber'].dirty && registerForm.hasError('required','phoneNumber')"> * Please Enter a Phone Number.</div>
                                                <div class="text-danger" *ngIf="registerForm.controls['phoneNumber'].dirty && registerForm.hasError('pattern','phoneNumber')"> * Phone Should be in this format <strong>251905280270</strong> .</div>

                                             </div>
                                          </div>
                                          <div class="col-12">
                                             <label for="password" class="form-label">Password</label>
                                              <input type="password" formControlName="password" class="form-control" id="password" required>
                                             <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')"> *Please Enter a Password!</div>
                                             <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('minlength','password')"> *Must contain between 6 and 15 characters!</div>
                                             <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('hasNumber','password')"> *Must contain at least 1 number!</div>
                                             <!-- <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('hasCapitalCase','password')"> *Must contain at least 1 Letter in Capital Case!</div> -->
                                             <!-- <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('hasSmallCase','password')"> *Must contain at least 1 Letter in Small Case!</div> -->
                                             <!-- <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('hasSpecialCharacters','password')"> *Must contain at least 1 Special Character in Capital Case!</div> -->
                                          </div>

                                          
                                          <div class="col-12"> 
                                             <button class="btn btn-primary w-100" (click)="onRegister()" type="submit">Create Account</button>
                                          </div>
                                          <div class="col-12">
                                             <p class="small mb-0">Already have an account? <a routerLink="/login">Log in</a></p>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                   
     
    <!-- </div> -->
    
    
    <app-public-footer></app-public-footer>

    
    

