<app-navbar></app-navbar>


    <div id="pagewrap" class="pagewrap">
        <div id="html-content" class="wrapper-content">
       
          <div class="page-container">
            <div data-bottom-top="background-position: 50% 50px;" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -50px;" class="page-title page-product">
              <div class="container">
                <div class="title-wrapper">
                  <div data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(-5px);" data--50-top="transform: translateY(-15px);opacity:0.8;" data--120-top="transform: translateY(-30px);opacity:0;" data-anchor-target=".page-title" class="title" style="font-family: Lithos;"style="font-family: Lithos;">Create Account</div>
                  <div data-top="opacity:1;" data--120-top="opacity:0;" data-anchor-target=".page-title" class="divider"><span class="line-before"></span><span class="dot"></span><span class="line-after"></span></div>
                  <div data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(5px);" data--50-top="transform: translateY(15px);opacity:0.8;" data--120-top="transform: translateY(30px);opacity:0;" data-anchor-target=".page-title" class="subtitle">We hope you will like this product and give us 5 star rating</div>
                </div>
              </div>
            </div>
            <div class="page-content-wrapper">
               <main>
                  <div class="container">
                     <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
                        <div class="container">
                           <div class="row justify-content-center">
                              <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                                 <!-- <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a></div> -->
                                 <div class="card mb-3">
                                    <div class="card-body">
                                       <div class="pt-4 pb-2">
                                          <h5 style="font-family: Lithos;" class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                          <p class="text-center small">Enter your personal details to create account</p>
                                       </div>
                                       <form class="row g-3" [formGroup]="registerForm" >
                                          
                                          <div class="row">
                                             <div class="col-md-6">
                                                <label for="firstname" class="form-label">Your First Name</label> 
                                                <input type="text" formControlName="firstname" class="form-control" id="firstname" required>
                                                <div class="text-danger" *ngIf="registerForm.controls['firstname'].dirty && registerForm.hasError('required','firstname')"> * Please, Enter Your First Name!</div>
                                             </div>

                                             <div class="col-md-6">
                                                <label for="lastname" class="form-label">Your Last Name</label> 
                                                <input type="text" formControlName="lastname" class="form-control" id="lastname" required>
                                                <div class="text-danger" *ngIf="registerForm.controls['lastname'].dirty && registerForm.hasError('required','lastname')"> * Please, Enter Your Last Name!</div>
                                             </div>
                                          </div>
                                         
                                          <div class="col-12">
                                             <label for="email" class="form-label">Your Email</label> 
                                             <input type="email" formControlName="email" class="form-control" id="email" >
                                             <!-- <div class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')"> * Please Enter a Valid Email Adddress!</div> -->
                                          </div>
                                          <div class="col-12">
                                             <label for="phoneNumber" class="form-label">Phone Number</label>
                                             <div class="input-group has-validation">
                                                 <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" required>
                                                <div class="text-danger" *ngIf="registerForm.controls['phoneNumber'].dirty && registerForm.hasError('required','phoneNumber')"> * Please Enter a Phone Number.</div>
                                             </div>
                                          </div>
                                          <div class="col-12">
                                             <label for="password" class="form-label">Password</label>
                                              <input type="password" formControlName="password" class="form-control" id="password" required>
                                             <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')"> * Please Enter a Password!</div>
                                          </div>


                                          <div class="col-12">
                                             <label for="password" class="form-label">Password</label>
                                              <input type="password" formControlName="password" class="form-control" id="password" required>
                                             <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')"> * Please Enter a Password!</div>
                                          </div>


                                          <div class="row">
                                             <div class="col-md-6">
                                                <label for="gender" class="form-label">Gender</label>
                                                <select formControlName="gender" id="gender" class="form-select">
                                                   <option value="1">Male</option>
                                                   <option value="2">Female</option>
                                                   <option value="3">Other</option>
                                                </select>
                                                   <div class="text-danger" *ngIf="registerForm.controls['gender'].dirty && registerForm.hasError('required','gender')"> * Please Select Gender!</div>
                                                </div>
                                                <div class="col-md-6">
                                                   <label for="birthDate" class="form-label">Birth Date</label>
                                                   <input formControlName="birthDate"  class="form-control" type="date">
                                                </div>
                                          </div>
                                          <div class="col-12">
                                             <div class="form-check">
                                                <!-- <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required> <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label> -->
                                                <div class="invalid-feedback">You must agree before submitting.</div>
                                             </div>
                                          </div>
                                          <div class="col-12"> 
                                             <button class="btn btn-primary w-100" (click)="onRegister()" type="submit">Create Account</button>
                                          </div>
                                          <div class="col-12">
                                             <p class="small mb-0">Already have an account? <a routerLink="/login">Log in</a></p>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </section>
                  </div>
               </main>
            </div>
          </div>
       </div>
     
    </div>
    
    
    <footer >
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <img width="180" src="../../../../assets/assets/images/logos/logo-03.png" alt="" />
                        <p>
                            We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                        </p>
                        <div class="btn-group social-group btn-group-icons">
                            
                            <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2022 Karavan - info@karavan.com - +251-911-111-111 - Bethlehem Plazza, Megenagna - Designed by: <a href="#">Karavan Dev Team</a>
                </div>
            </div>
        </div>
    </footer>
    
    

