<app-navbar></app-navbar>


    <div id="pagewrap" class="pagewrap" style="background: white !important;">
        <div id="html-content" class="wrapper-content">
          <div class="header-title ken-burn white" style="background-image: url(../../../../assets/assets/images/bg-28.jpg)">
            <div style="position: absolute; top: 40%; left: 50%; transform:translate(-50%, -50%);">
                <div class="title-base">
                    <h1>Product Cart</h1>
                    <p style="font-family: Reliant_Free !important;
                    font-size: 35px !important;
                    font-weight: bold;">Shop What-ever You Want!</p>
                </div>
            </div>
        </div>
        <div class="title-base" style="transform: translateY(-100%);">
       
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 30px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
      </div>
         
            <div class="page-content-wrapper" style="background: white;">
              <ng-container *ngIf="items.length>=1">
              <div class="container card">
                <div style="padding: 30px !important;">
                  <section class="padding-bottom-100 row ">
                  <div class="col-md-8">
                   <form class="product-cart-form">
                      <table class="shop_table shop_table_responsive">
                        <thead style="background-color: #004332 !important; opacity: 0.7;">
                          <tr>
                            <th style="color: white !important; font-weight: bold !important;" class="product-thumbnail"> </th>
                            <th style="color: white !important; font-weight: bold !important;" class="product-name">Product</th>
                            <th style="color: white !important; font-weight: bold !important;" class="product-price">Price</th>
                            <th style="color: white !important; font-weight: bold !important;" class="product-quantity">Quantity</th>
                            <th style="color: white !important; font-weight: bold !important;" class="product-subtotal">Total</th>
                            <th style="color: white !important; font-weight: bold !important;" class="product-remove"> Remove</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of items; let i = index" class="cart_item">
                           
                            <td class="product-thumbnail"><a href="#"><img width="150" height="100" src="{{item.imagePath}}" alt="" class="img-responsive"></a></td>
                            <td data-title="Product" >{{item.productName}}</td>
                            <td data-title="Price" ><span class="product-Price-amount amount"><span class="product-Price-currencySymbol">ETB </span>{{item.unitPrice}}</span></td>
                            <td data-title="Quantity" class="product-quantity">
                              <div class="quantity">
                                <input type="number" min="1" max=""  name="quantity"  size="4" [value]="item.quantity"  (blur)="validateInput($event, i)" pattern="[0-9]*" inputmode="numeric" class="form-control input-qty">
                              </div>
                            </td>
                            <td data-title="Total" class="product-subtotal"><span class="product-Price-amount amount"><span class="product-Price-currencySymbol">ETB </span>{{item.quantity * item.unitPrice}}</span></td>
                            <td class="product-remove">
                              <a href="#" aria-label="Remove this item" data-product_id="1061" data-product_sku="" (click)="onDelete(i)" class="remove">
                                <i class="fa fa-trash" style="color: red;" aria-hidden="true"></i>
                              </a>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </form>
                    
                  </div>
                  
                  <div class="col-md-4 card" style="background-color: rgb(204, 202, 202);">
                    <div class="product-cart-total" style="padding: 30px !important;">
                      <div class="row">
                       
                        <div class="col-md-6-12">
                          <h2 class="cart-total-title">Summary</h2>
                          <hr>
                          <table cellspacing="0">
                            <tbody>
                              <tr>

                              </tr>
                              <tr>
                                <th>Sub Total </th>
                                <td>{{total}} ETB</td>
                              </tr>

                              <tr>
                                <th>VAT (15%) </th>
                                <td>{{(15*total)/100}} ETB</td>
                              </tr>

                              <tr>
                                <th>TOTAL </th>
                                <td>{{total + (15*total)/100}} ETB</td>
                              </tr>
                              <!-- <tr class="cart-subtotal">
                                <th class="mr-1"></th>
                                <td data-title="Subtotal"><span class="product-amount amount"><span class="product-currencySymbol">$</span></span></td>
                              </tr>
                              <tr class="order-total">
                                <th>Total</th>
                                <td data-title="Total"><strong><span class="product-amount amount"><span class="product-currencySymbol">$</span></span></strong></td>
                              </tr> -->
                            </tbody>
                          </table><a (click)="checkIfLogged()"  class="swin-btn"><span>Process To Checkout</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  </section>
                </div>
              </div>
            </ng-container>
              
                <div class="container">
                  <ng-container *ngIf="items.length<1">
                    <div class="card">
                      <div class="row flex justify-content-center align-items-center"  style="padding: 50px;">
                        <div class="col-md-6">
                          <h6 class="h3 text-danger">No Product in Cart!</h6>
                          <a routerLink="/order"  class="swin-btn checkout-submit float-start"><span>Shop Now! </span></a>
                        </div>
                        <div class="col-md-6">
                          <img style="height:20rem" src="assets/assets/images/karavan-images/bg/shop.png" alt="">
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="">
                    </div>
                    <div class="col-md-4">
                      <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="">
                    </div>
                    <div class="col-md-4">
                      <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="">
                    </div>
                  </div>
                </div>
               
              </div>
             
            </div>
          </div>
    
    
    <app-public-footer></app-public-footer>
