<app-navbar></app-navbar>

    <div id="pagewrap" class="pagewrap" style="background: white !important;" >
        <div id="html-content" class="wrapper-content">
        
          <div class="header-title ken-burn white" style="background-image: url(../../../../assets/assets/images/bg-28.jpg)">
            <div style="position: absolute; top: 40%; left: 50%; transform:translate(-50%, -50%);">
                <div class="title-base">
                    <h1>Checkout!</h1>
                    <p style="font-family: Reliant_Free !important;
                    font-size: 35px !important;
                    font-weight: bold;">Shop What-ever You Want!</p>
                </div>
            </div>
        </div>
        <div class="title-base" style="transform: translateY(-100%);">
       
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 30px; margin-top: 3px;">
          </div>
          <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
          </div>
      </div>
            <div class="page-content-wrapper">
              <div class="container mx-auto" style="margin: 15px  30px 30px 30px;">
                <form [formGroup]="checkoutForm">
                  <div class="col-lg-6 col-md-6">
                    <!-- <div class="form-group">
                      <label for="checkoutemail" class="form-label">Enter Email</label>
                      <input  *ngIf="form==false" formControlName="checkoutemail" type="email" class="form-control">
                      <input *ngIf="form==true" readonly formControlName="checkoutemail" type="email" class="form-control">
                      <div class="text-danger" *ngIf="checkoutForm.controls['checkoutemail'].dirty && checkoutForm.hasError('required','checkoutemail')"> * Please, Provide Your Email!</div>
                    </div>
                    <div *ngIf="form==false">
                       <button type="submit" (click)="formcheck()" class="swin-btn"><span>Continue | ይቀጥሉ</span></button>
                    </div>
                   
                    <ng-container *ngIf="form">
                      <div class="row">
                        <div class="form-group col-md-12">
                          <div class="form-label">Full Name</div>
                          <input  formControlName="fullname" type="text" class="form-control">
                          <div class="text-danger" *ngIf="form && checkoutForm.controls['fullname'].dirty && checkoutForm.hasError('required','fullname')"> * Please, Provide Your Full Name!</div>
                        </div>
                        <div class="form-group col-md-12">
                          <div class="form-label">Phone Number</div>
                          <input formControlName="phonenumber" type="text" class="form-control">
                          <div class="text-danger" *ngIf="checkoutForm.controls['phonenumber'].dirty && checkoutForm.hasError('required','phonenumber')"> * Please, Provide Your Phone Number!</div>
                        </div>
                    </div> -->
                      
                      <div class="row">
                        <div class="form-group col-md-6">
                          <div class="form-label">Pick Up Location </div>
                          <!-- <input  type="tect" class="form-control"> -->
                          <select formControlName="branchId" id="location" class="form-select">
                            <option value="">Select Location</option>
                            <ng-container *ngFor="let b of branches">
                              <option value="{{b.branchId}}">{{b.branchName}}</option>
                            </ng-container>
                            <!-- <option value="bole">BOLE</option>
                            <option value="tuludimtu">TULU DIMTU</option>
                            <option value="summit">SUMMIT</option>
                            <option value="ayertena">AYER-TENA</option> -->
                          </select>
                          <!-- <div class="text-danger" *ngIf="checkoutForm.controls['branchId'].dirty && checkoutForm.hasError('required','branchId')"> * Please, Select Pick Up Location!</div> -->
                          <div class="text-danger" *ngIf="checkoutForm.controls['branchId'].dirty && checkoutForm.hasError('required','branchId')"> *  Please, Select Pick Up Location!</div>

                        </div>
                        <div class="form-group col-md-6">
                          <div class="form-label">Pick Up Date and Time</div> 
                          <input  formControlName="pickupDateTime" min="{{tomorrow | date:'yyyy-MM-dd'}}" type="datetime-local" class="form-control">
                          <div class="text-danger" *ngIf="checkoutForm.controls['pickupDateTime'].dirty && checkoutForm.hasError('required','pickupDateTime')"> *  Please, Select Pick Up Location!</div>
                        </div>
                        <!-- <div class="form-group col-md-4">
                          <div class="form-label">Pick Up  Time</div>
                          <input formControlName="pickuptime" type="time" class="form-control">
                          <div class="text-danger" *ngIf="checkoutForm.controls['pickuptime'].dirty && checkoutForm.hasError('required','pickuptime')"> * Please, Select Pick Up Time!</div>
                        </div> -->
                      </div>
                     
                      <div class="row">
                        <div class="form-group">
                          <label class="form-label" for="remark">Other notes</label>
                          <textarea formControlName="remark" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <!-- <div>
                          <button (click)="onChangingPayment()" *ngIf="payment==false" class="swin-btn checkout-submit"><span>Continue | ይቀጥሉ </span></button>
                        </div> -->

                      </div>
                     
                    <!-- </ng-container> -->
                    <!-- <ng-container *ngIf="payment"> -->
                      <div class="row">
                        <div class="">
                          <div class="card-header">
                            <!-- <h3>Payment | ክፍያ</h3> -->
                            <h4>Choose a way to pay for your order:</h4>
                          </div>
                          <div class="card-body">
                            <div class="form-check " style="padding: 5px;">
                              <input class="form-check-input custom-radio" value="chapa" type="radio" name="paymentMode" id="chapa">
                              <label class="form-check-label" for="chapa">
                                Chapa
                              </label>
                            </div>
                            <button  (click)="onOrdering()" class="swin-btn checkout-submit"><span>Proceed to Checkout </span></button>

                          </div>
                        </div>
                       
                      </div>
                    <!-- </ng-container> -->
                  </div>
                  <div class="col-lg-6 col-md-6 ">
                    <div class="row">
                      <div class="col-md-12 mt-5" style="background-color: rgb(204, 202, 202); border-radius: 5px;">
                        <div style="padding: 30px !important;">
                            <ng-container *ngIf="inCart.length>=1">
                            <h3>Your Order Summary</h3>
                            <table class="shop_table" style="padding: 10px;">
                              <thead>
                                <tr>
                                  <th style="padding-left:10px" >Product</th>
                                  <th style="padding-left:10px" >Total</th>
                                </tr>
                              </thead>
                              <tbody>
                            <ng-container  *ngFor="let item of inCart" >
                                <tr class="cart_item">
                                  <td class="product-name">{{item.productName}}							 <strong class="product-quantity">× {{item.quantity}}</strong></td>
                                  <td class="product-total"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Birr </span>{{item.unitPrice * item.quantity}}</span></td>
                                </tr>
                                </ng-container>
                              </tbody>
                              <tfoot>
                                <tr class="cart-subtotal">
                                  <th style="padding-left:10px">Subtotal</th>
                                  <td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Birr </span>{{total}}</span></td>
                                </tr>
                                <tr class="order-total">
                                  <th>Total</th>
                                  <td><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Birr </span>{{total}}</span></strong></td>
                                </tr>
                              </tfoot>
                            </table>
                          </ng-container>
                          <ng-container *ngIf="inCart.length<1">
                            <div class="row">
                              <div class="col-md-6">
                                <h6 class="h3 text-danger">No Product in Cart!</h6>
                                <a  routerLink="/order" class="swin-btn checkout-submit float-start"><span>Shop Now! </span></a>
                              </div>
                              <div class="col-md-6">
                                <img height="100%" src="assets/assets/images/karavan-images/bg/shop.png" alt="">
                              </div>
                            </div>
                          </ng-container>
                          </div>
                      </div>
                     
                    </div>
                  
                   
  
                    <!-- <ng-container *ngFor="let item of inCart" >
  
                      <div class="row" >
                        <div class="col-4">
                            {{item.productName}}
                        </div>
                        <div class="col-4">
                          {{item.quantity}} * {{item.unitPrice}}
                        </div>
                        <div class="col-4">
                          {{item.quantity * item.unitPrice}}
                        </div>
                        <hr>
                      </div>
                    </ng-container> -->
                   
                  </div>

                </form>
                
               
              </div>
             <div class="container" style="margin: 30px 0px important;">
                    <div class="row">
                      <div class="col-md-4">
                        <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="">
                      </div>
                      <div class="col-md-4">
                        <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="">
                      </div>
                      <div class="col-md-4">
                        <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="">
                      </div>
                    </div>
                  </div>
            </div>
          </div>
         </div>
 
    
    <app-public-footer></app-public-footer>
