
<app-navbar></app-navbar>

    <div class="header-title ken-burn white" style="background-image: url(assets/assets/images/bg-28.jpg);" >
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="title-base">
                <hr class="anima" />
                <h1>Photos & videos</h1>
                <p>Multimedia gallery</p>
            </div>
        </div>
    </div>


    <div class="container" id="galleryBody2">
        <div class="gallery-heading" style="text-align: center; margin: 50px auto;">
            <h1>Our Popular Gallery!</h1>
        </div>
        <div class="select-gallery">
            <div class="card-top container-fluid">
                <div class="d-flex">
                <div class="container d-flex">
                    <div class="custom_item">
                        <a (click)="filter('')">                               
                            <img src="assets/assets/images/karavan-images/pizzas/image-3.jpg" alt="">
                            <h6>All</h6>
                        </a>
                    </div>
                    <div class="custom_item">
                        <a (click)="filter('event')">
                            <img src="assets/assets/images/karavan-images/cakes/image-88.jpg" alt="">
                            <h6>Events</h6>
                        </a>
                    </div>
                    <div class="custom_item">
                        <a  (click)="filter('location')">
                            <img src="assets/assets/images/karavan-images/foods/image-1.jpg" alt="">
                            <h6>Location</h6>
                        </a>
                    </div>
                    <div class="custom_item">
                        <a (click)="filter('food')">
                            <img style="width: 62px; margin-top: 5px;" src="assets/assets/images/karavan-images/drinks/image-6.jpg" alt="">
                            <h6>Foods</h6>
                        </a>
                    </div>

                    
                </div>
                <div style="padding:30px;">
                    <input type="text" placeholder="Search Here">
                </div>
                </div>
            </div>
        </div>
        <div class="gallery-body">
            <ng-container *ngFor="let g of data | slice: 0: totalNumberOfRecordsToShow">
                <a  class="img-box i-bottom-right" data-lightbox="modals" data-title="{{g.eventTitle}}" href="{{g.imagePath}}">
                    <img [src]="g.imagePath" alt="" />
                </a>
                <!-- <p>{{g.eventTitle}}</p> -->
            </ng-container>

            
        </div>
        <div  class="loadmorebtn">
            <button  *ngIf="isLoadMoreVisible" (click)="loadMoreButtonClicked()">
                Load More ... 
            </button>
        </div>
    </div>
  
  
    

    <footer>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <img width="180" src="../../../../assets/assets/images/logos/logo-03.png" alt="" />
                        <p>
                            We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                        </p>
                        <div class="btn-group social-group btn-group-icons">
                            
                            <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2022 Karavan - info@karavan.com - +251-911-111-111 - Bethlehem Plazza, Megenagna - Designed by: <a href="#">Karavan Dev Team</a>
                </div>
            </div>
        </div>
    </footer>
