
<app-navbar></app-navbar>

<div class="footer-parallax-container">

    <div class="header-title ken-burn white" data-parallax="scroll" data-position="top" data-natural-height="850" data-natural-width="1920" data-image-src="assets/assets/images/bg-28.jpg">
    <div class="container">
        <div class="title-base">
            <hr class="anima" />
            <h1>Photos & videos</h1>
            <p>Multimedia gallery</p>
        </div>
    </div>
</div>
<div class="section-empty section-item">
    <div class="container content">
        <div class="maso-list gallery">
            <div class="navbar navbar-inner">
                <div class="navbar-toggle"><i class="fa fa-navicon"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav-custom over ms-minimal inner maso-filters nav-center">
                        <li class="current-active active"><a data-filter="maso-item">All</a></li>
                        <li><a data-filter="cat1">Food</a></li>
                        <li><a data-filter="cat2">Events</a></li>
                        <li><a data-filter="cat3">Location</a></li>
                        <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="maso-box row" data-lightbox-anima="show-scale">
                <div data-sort="1" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-11.jpg">
                        <i class="im-old-camera"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-11.jpg" alt="" />
                    </a>
                </div>
                <!-- <div data-sort="3" class="maso-item col-md-4 cat1">
                    <a class="img-box mfp-iframe i-bottom-right" href="https://www.youtube.com/watch?v=cFkaNJVB3uE">
                        <i class="im-film-board"></i>
                        <img src="assets/assets/images/gallery/image-2.jpg" alt="" />
                    </a>
                </div> -->
                <div data-sort="3" class="maso-item col-md-4 cat1">
                    <a class="img-box mfp-iframe i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-12.jpg">
                        <i class="im-film-board"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-12.jpg" alt="" />
                    </a>
                </div>
                <!-- <div data-sort="4" class="maso-item col-md-4 cat3 cat1">
                    <a class="img-box i-bottom-right" href="assets/assets/images/gallery/location-5.jpg">
                        <i class="im-old-camera"></i>
                        <img src="assets/assets/images/gallery/location-5.jpg" alt="" />
                    </a>
                </div> -->
                <div data-sort="5" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-13.jpg">
                        <i class="im-old-camera"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-13.jpg" alt="" />
                    </a>
                </div>
                <!-- <div data-sort="6" class="maso-item col-md-4 cat1">
                    <a class="img-box mfp-iframe i-bottom-right" href="https://www.youtube.com/watch?v=cFkaNJVB3uE">
                        <i class="im-film-board"></i>
                        <img src="assets/assets/images/gallery/image-13.jpg" alt="" />
                    </a>
                </div> -->
                <div data-sort="7" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-14.jpg">
                        <i class="im-old-camera"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-14.jpg" alt="" />
                    </a>
                </div>
                <!-- <div data-sort="8" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="assets/assets/images/gallery/location-6.jpg">
                        <i class="im-old-camera"></i>
                        <img src="assets/assets/images/gallery/location-6.jpg" alt="" />
                    </a> 
                </div>-->
                <div data-sort="9" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-15.jpg">
                        <i class="im-old-camera"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-15.jpg" alt="" />
                    </a>
                </div>
                <div data-sort="10" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-16.jpg">
                        <i class="im-old-camera"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-16.jpg" alt="" />
                    </a>
                </div>
                <div data-sort="11" class="maso-item col-md-4 cat1">
                    <a class="img-box mfp-iframe i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-17.jp">
                        <i class="im-film-board"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-17.jpg" alt="" />
                    </a>
                </div>
                <div data-sort="12" class="maso-item col-md-4 cat1">
                    <a class="img-box mfp-iframe i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-18.jpg">
                        <i class="im-film-board"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-18.jpg" alt="" />
                    </a>
                </div>
                <!-- <div data-sort="13" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="assets/assets/images/gallery/location-8.jpg">
                        <i class="im-old-camera"></i>
                        <img src="assets/assets/images/gallery/location-8.jpg" alt="" />
                    </a>
                </div> -->
                <div data-sort="14" class="maso-item col-md-4 cat1">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/foods/image-19.jpg">
                        <i class="im-old-camera"></i>
                        <img width="300px" height="240px" src="../../../../assets/assets/images/karavan-images/foods/image-19.jpg" alt="" />
                    </a>
                </div>
                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event1.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event1.jpg" alt="" />
                    </a>
                </div>
                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event2.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event2.jpg" alt="" />
                    </a>
                </div>
                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event3.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event3.jpg" alt="" />
                    </a>
                </div>

                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event4.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event4.jpg" alt="" />
                    </a>
                </div>

                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event5.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event5.jpg" alt="" />
                    </a>
                </div>

                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event6.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event6.jpg" alt="" />
                    </a>
                </div>

                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event7.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event7.jpg" alt="" />
                    </a>
                </div>

                <div data-sort="15" class="maso-item col-md-4  cat2">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/event9.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/event9.jpg" alt="" />
                    </a>
                </div>

                <div data-sort="15" class="maso-item col-md-4  cat3">
                    <a class="img-box i-bottom-right" href="../../../../assets/assets/images/karavan-images/event/branch1.jpg">
                        <i class="im-old-camera"></i>
                        <img src="../../../../assets/assets/images/karavan-images/event/branch1.jpg" alt="" />
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="list-nav">
                <a href="#" class="circle-button btn-sm btn load-more-maso" data-page-items="12">Load More <i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>


    <footer class="footer-base footer-parallax">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <img width="180" src="../../../../assets/assets/images/logos/logo-03.png" alt="" />
                        <p>
                            We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                        </p>
                        <div class="btn-group social-group btn-group-icons">
                            
                            <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2022 Karavan - info@karavan.com - +251-911-111-111 - Bethlehem Plazza, Megenagna - Designed by: <a href="#">Karavan Dev Team</a>
                </div>
            </div>
        </div>
    </footer>
</div>
