<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">
                <div class="col-12">
                   <div class="card recent-sales overflow-auto">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                            <h5 class="card-title">Order By <span>| </span></h5>
                          <h6>Ordered By: <strong>{{fullName}}</strong></h6>
                          <h6>Email: <strong>{{email}}</strong></h6>
                          <h6>Phone Number: <strong>{{phoneNumber}}</strong></h6>
                            <!-- <a  style="
                            border: 1px solid orange;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            padding: 10px;
                            display: block;
                            width: 100px;
                            background-color: darkorange;
                            border-radius: 5px;
                            color: white;"  routerLink="/add-user"> <i class="bi bi-plus"></i> <span>Add User</span> </a>
                        
                          -->
                          
                         <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                           <thead>
                              <tr>
                                 <th>#</th>
                                      <th>Product Name</th>
                                      <th>Quantity</th>
                                      <th>Message on Cake</th>
                                      <th>Unit Price</th>
                                      <th>Total Price</th>
                              </tr>
                           </thead>
                         <tbody>
                           <ng-container *ngFor="let order of orderdetail; let i=index">
                              <tr>
                                 <th> {{i + 1}} </th>
                                 <td>{{order.product.productName}}</td>
                                 <td>{{order.quantity}}</td>
                                 <td>{{order.messageOnCake}}</td>
                                 <td>{{order.product.unitPrice}}</td>
                                 <td>{{order.product.unitPrice * order.quantity}}</td>
                              </tr>
                           </ng-container>
                         </tbody>
                        </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
 <app-footer></app-footer>