<app-navbar></app-navbar>
<div class="header-title ken-burn white"   style=" background-image: url(../../../../assets/assets/images/bg-28.jpg);">
    <div >
        <div class="title-base" style=" position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);">
            <h1>Menu list of Karavan</h1>
            <p>Choose whatever you want.</p>
        </div>
    </div>
</div>


  <div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../assets/assets/images/block-10.jpg" class="abs-image hidden-sm" alt="" />
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <h2>Breakfast menu</h2>
                    <p>Enjoy a sunny day with our breakfast</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-items" >
                            <div class="list-item">
                              <!-- <h1>{{bf.length}} and {{}}</h1> -->
                               
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Grass beef fillet</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Deboned king quail</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Confit of lamb</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>15$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Twice cooked duck </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Steamed king crab</h3>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Roast partridge</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Salad of shaved fenne</h3>
                                        <p>Sunt in culpa qui officia</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Beetroot cured kingfish</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
            </div>
        </div>
        <div class="row" data-anima="fade-right">
            <div class="col-md-7">
                <div class="title-base text-left">
                    <h2>Launch menu</h2>
                    <p>Enjoy a sunny day with our breakfast</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-items" >
                           
                            <div class="list-item">
                              <div class="row">
                                  <div class="col-md-9">
                                      <h3>Ocean trout in saffron</h3>
                                      <p>Lorem ipsum dolor sit ameto consectetur adipiscing elit</p>
                                  </div>
                                  <div class="col-md-3">
                                      <span>21$</span>
                                  </div>
                              </div>
                          </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Crispy skin Cone </h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>4.99$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Seared blue eye</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Roast spatchcock</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>15$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Grilled beef fillet</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Slow roasted veal</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>49$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Steamed jasmine rice</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Butter poached scampi</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>50$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/assets/images/block-11.jpg" class="abs-image hidden-sm" alt="" />
            </div>
        </div>
        <div class="row" data-anima="fade-left">
            <div class="col-md-5">
                <img src="../../../../assets/assets/images/block-12.jpg" class="abs-image hidden-sm" alt="" />
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <h2>Dinner menu</h2>
                    <p>Enjoy a sunny day with our breakfast</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-items">
                            <div class="list-item">
                              <div class="row">
                                  <div class="col-md-9">
                                      <h3>Slow roasted white</h3>
                                      <p>Duis aute irure dolor in reprehenderit i esse</p>
                                  </div>
                                  <div class="col-md-3">
                                      <span>9.5$</span>
                                  </div>
                              </div>
                          </div>
  
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Grass beef fillet</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Deboned king quail</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Confit of lamb</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>15$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Twice cooked duck </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Steamed king crab</h3>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Roast partridge</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Salad of shaved fenne</h3>
                                        <p>Sunt in culpa qui officia</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Beetroot cured kingfish</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
            </div>
        </div>
    </div>
  </div>

<footer>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 footer-center">
                    <img width="180" src="../../../../assets/assets/assets/images/logos/logo-03.png" alt="" />
                    <p>
                        We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                    </p>
                    <div class="btn-group social-group btn-group-icons">
                        
                        <a target="_blank" routerLink="/welcome" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" routerLink="/welcome" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" routerLink="/welcome" data-social="share-google"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" routerLink="/welcome" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                © 2022 Karavan - info@karavan.com - +251-911-111-111 - Bethlehem Plazza, Megenagna - Designed by: <a routerLink="/welcome">Karavan Dev Team</a>
            </div>
        </div>
    </div>
</footer>
