<app-navbar></app-navbar>      

      <div class="header-title ken-burn white"  style="background-image: url(assets/assets/images/bg-28.jpg);" >
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="title-base">
                <h1>About Us</h1>
                <p>Informations about our company and our philosophy</p>
            </div>
        </div>
      </div>
    
        <div class="section-empty no-padding-bottom">
            <div class="container content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title-base text-left">
                            <h2>Philosophy</h2>
                            <p>Our story meet our strategy</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscin tsed doeiusmod temporidunt utlabore dolore<br />magna aliqua.
                            Utenim ad minim veni am quis nostrud exercitatio llamco laboris nisi u    ea commodo consequat aute irure dolor in reprehenderit
                            in voluptate velit esse cillum  iatur. L sum dolor sit amet consectetur adiiscing elitsed do eiusmod
                            tempor incididunt utla bore e   aliqua.  Utenim ad minim  veniam quis nos trud exercitation  Lorem ipsum dolor sit amet consectetur adipiscing elitse.
                        </p>
                        <img src="../../../../assets/images/sign-2.png" alt="" />
                    </div>
                    <div class="col-md-4">
                        <img src="../../../../assets/images/chef-5.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-bg-color">
            <div class="container content">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1940</h4><p>Founding of the company</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Company founding</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proidentsunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1948</h4><p>Partnership with tallamin</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Partnership with tallamin</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Utenim ad minim veniamquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1950</h4><p>International conference awward</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">International conference awward</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1990</h4><p>Redmand inc. aquisition</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Redmand inc. aquisition</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Utenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>2002</h4><p>Leader in secuirty business</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Leader in secuirty business</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1948</h4><p>New headquarter in Asia</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">New headquarter in Asia</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>2002</h4><p>CEO and Marketing figures changes</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">CEO and Marketing figures changes</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>2016</h4><p>Globally everywhere</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Globally everywhere</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
        
        
        <div class="section-bg-image" style="background-image: url(assets/assets/images/bg-12.jpg); font-family: Lithos;">
            <div class="container content">
            <div class="row" >
            <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-cool-guy text-xl"></i>
                    </div>
                    <div class="icon-box-cell" >
                        <b><label  class="counter custom-color text-m" data-speed="20000" data-to="10"></label></b>
                        <p class="text-s custom-color">Years Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-leafs text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <b><label class="counter custom-color text-m" data-speed="20000" data-to="50000"></label></b>
                        <p class="text-s custom-color">Recipients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-coffee text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <b><label class="counter custom-color text-m" data-speed="20000" data-to="10000"></label></b>
                        <p class="text-s custom-color">Customers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-conference text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <b><label class="counter custom-color text-m" data-speed="20000" data-to="250"></label></b>
                        <p class="text-s custom-color">Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-engineering text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <b><label class="counter custom-color text-m" data-speed="20000" data-to="110"></label></b>
                        <p class="text-s custom-color">Team members</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2 text-right">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-pizza-slice text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <b><label class="counter custom-color text-m" data-speed="20000" data-to="123568"></label></b>
                        <p class="text-s custom-color">Pizzas</p>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        </div>

     


        <div class="section-empty">
            <div style="text-align: center; margin: 40px auto -20px auto;">
                <h2>Our Clients</h2>
            </div>
            <div class="content">

                <carousel style="z-index: 1;" [loop]="true"  [autoplay]="true" [autoplayInterval]="3000">

                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-1.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-2.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-3.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-4.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-5.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-6.png" alt="">
                    </div>
                  </carousel>
                <!-- <div class="flexslider carousel outer-navs png-over text-center" data-options="numItems:5,minWidth:100,itemMargin:100,controlNav:false">
                    <ul class="slides">
                        <li>
                                </a>
                        </li>
                        <li>
                            <a class="img-box" href="#">
                            </a>
                        </li>
                       
                         
                    </ul>
                </div> -->
            </div>
        </div>

   
    
    <footer>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <img width="180" src="../../../../assets/assets/images/logos/logo-03.png" alt="" />
                        <p>
                            We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                        </p>
                        <div class="btn-group social-group btn-group-icons">
                            
                            <a target="_blank" routerLink="/welcome" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" routerLink="/welcome" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" routerLink="/welcome" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" routerLink="/welcome" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2022 Karavan - info@karavan.com - +251-911-111-111 - Bethlehem Plazza, Megenagna - Designed by: <a routerLink="/welcome">Karavan Dev Team</a>
                </div>
            </div>
        </div>
    </footer>
    
   