<app-navbar></app-navbar>      

      <div class="header-title ken-burn white"  style="background-image: url(assets/assets/images/bg-28.jpg);" >
        <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
            <div class="title-base">
                <h1>About Us</h1>
                <p style="font-family: Reliant_Free !important;
                font-size: 35px !important;
                font-weight: bold;" >Informations about our company and our philosophy</p>
            </div>
        </div>
      </div>
    
      <div class="title-base" style="transform: translateY(-100%);">
       
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 30px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
    </div>

       
    <div style="background-color: #004332 !important; margin-top: -85px !important;">
        <div class="container content" >
            <div class="row">
                <div class="col-md-6">
                    <div class="title-base text-left">
                        <h2 style="color: white  !important;" >Establishment</h2>
                        <p  style="color: white  !important;">Our History!</p>
                    </div>
                    <p  style="color: white  !important;">
                        Karavan's history dates back to 1987 E.C, the historic opening of 
                        one of the oldest pastry shops in Ethiopia named Bethlehem Pastry at Megenagna. 
                        Bethlehem Pastry, known for its vibrant location and affordable pastries, 
                        was rebranded in 2004 E.C and all its management and knowledge transferred 
                        to Karavan Coffee in 2004 E.C. Karavan quickly expanded into a food and pastry 
                        outlet with multiple branches and over 200 product varieties. In 2013 E.C., 
                        the company changed its legal status to a Limited Company and established Karavan 
                        Trading PLC. Following the establishment, the management of the new trading company 
                        are expanding the business into manufacturing, catering and a cattle farming 
                        operations that are designed to supply key ingredients to the core business. 
                        Currently, Karavan mainly produces and retails cake, coffee, other hot and cold
                         beverages and food items such as Ethiopian traditional food, burgers, sandwiches 
                         and pizzas in its five locations at Megenagna, Bole, Semit, Tulu Dimtu and Ayer Tena   
                    </p>

                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="Promo 1">
                </div>
            </div>
           
        </div>
         
    </div>   
    <div  style="background-color:#004332;  margin-top: -85px !important;"  >
        <div class="container  content">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="Promo 1">
                </div>
                <div class="col-md-6">
                    <div class="title-base text-left">
                        <h2 style="color: white  !important;" >Our Philosophy</h2>
                        <p  style="color: white  !important;">Layers of happiness!</p>
                    </div>
                    <p  style="color: white  !important;">
                        We believe we are in the business of selling happiness in the form of food and drink. 
                        We source superior ingredients and craft beautifully layered products with the ultimate 
                        objective of making our customers happy. Customers order our Special Opera Cake because 
                        of indulgence, not hunger. As such, most food and beverage items we produce have layer 
                        upon layer of flavour, texture and finesse. Our cakes, for example are sliced in three 
                        or four layers and filled with various delicious fruits, fillings and syrups before being glazed. 
                        Our burgers, pizzas, sandwiches or even macchiato or juice, all come in layers of ingredients 
                        aiming to give the ultimate presentation, texture and taste. We believe that each layer of 
                        our carefully crafted and decorated product is ultimate source of happiness to our valued customers.    
                    </p>
                    <div>
                        <h4 style="color: #D6B13E;  font-family: Reliant_Free; font-size: 40px; font-weight: bold; margin-top:40px;">Layers of Happiness!</h4>
                    </div>
                </div>
                </div>
            </div>
        </div>
        
        <div class="section-bg-color">
            <div class="container content">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1940</h4><p>Founding of the company</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Company founding</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proidentsunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1948</h4><p>Partnership with tallamin</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Partnership with tallamin</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Utenim ad minim veniamquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1950</h4><p>International conference awward</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">International conference awward</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1990</h4><p>Redmand inc. aquisition</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Redmand inc. aquisition</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Utenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>2002</h4><p>Leader in secuirty business</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Leader in secuirty business</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>1948</h4><p>New headquarter in Asia</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">New headquarter in Asia</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>2002</h4><p>CEO and Marketing figures changes</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">CEO and Marketing figures changes</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"></div>
                        <div class="timeline-label"><h4>2016</h4><p>Globally everywhere</p></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Globally everywhere</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
        
        
       
        <div class="section-bg-color" style="z-index: 0; background-color: #004332 !important; font-family: Lithos !important;">
            <div class="container content">
                <h2 style="text-align: center;color: #D6B13E !important;">Why Karavan?</h2>
            <div class="row">
                <div class="col-md-2">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="im-conference text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                        
                            <i class="fa fa-coffee" style="color:#D6B13E !important" aria-hidden="true"></i>
                            <div>
                                <span class="counter text-m" style="color: white;" data-speed="20000" data-to="2000000">
                                </span>
                                <i class="fa fa-plus" style="color: white !important; padding: 0px 5px;" aria-hidden="true"></i>
                            </div>
                            <p class="text-s" style="color: white;">Macchiato sold at our Flagship branch since opening. </p>
                        </div>
                    </div>
                </div>
            <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-cool-guy text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <i class="fa fa-clock-o" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <div>
                            <span class="counter text-m" style="color: white !important;" data-speed="20000" data-to="25">
                            </span>
                            <i class="fa fa-plus" style="color: white !important; padding: 0px 5px;" aria-hidden="true"></i>
                        </div>
                        <p class="text-s" style="color: white;">Years Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-coffee text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <i class="fa fa-cutlery" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <div>
                            <span class="counter text-m" style="color: white;" data-speed="20000" data-to="200">
                            </span>
                            <i class="fa fa-plus" style="color: white !important; padding: 0px 5px;" aria-hidden="true"></i>
                        </div>
                        <p class="text-s" style="color: white;">Varieties of food and beverage items on offer</p>
                    </div>
                </div>
            </div>
             <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-leafs text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <i class="fa fa-building-o" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <b><label class="counter text-m" style="color: white;" data-speed="20000" data-to="7"></label></b>
                        <p class="text-s" style="color: white;">Branches</p>
                    </div>
                </div>
            </div> 
          
            <div class="col-md-2 text-right">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-pizza-slice text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <i class="fa fa-male" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <i class="fa fa-female" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <i class="fa fa-male" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <div>
                            <span class="counter text-m" style="color: white;" data-speed="20000" data-to="95">
                            </span>
                            <i class="fa fa-plus" style="color: white !important; padding: 0px 5px;" aria-hidden="true"></i>
                        </div>
                        <p class="text-s" style="color: white;">Trained pastry professionals and food chefs since opening</p>
                    </div>
                </div>
            </div> 
            <div class="col-md-2">
                <div class="icon-box icon-box-top-bottom">
                    <div class="icon-box-cell">
                        <i class="im-engineering text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <i class="fa fa-male" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <i class="fa fa-female" style="color:#D6B13E !important" aria-hidden="true"></i>
                        <i class="fa fa-male" style="color:#D6B13E !important" aria-hidden="true"></i>                            <div>
                            <span class="counter text-m" style="color: white;" data-speed="20000" data-to="320"></span>  
                                <i style="color: white !important;  padding: 0px 5px;" class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <p class="text-s" style="color: white;">Employees</p>
                    </div>
                </div>
            </div>
          
        </div>
        </div>
    </div>


     


        <div class="section-empty">
            <div style="text-align: center; margin: 40px auto -20px auto;">
                <h2>Our Clients</h2>
            </div>
            <div class="content">

                <carousel style="z-index: 1;" [loop]="true"  [autoplay]="true" [autoplayInterval]="3000">

                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-1.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-2.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-3.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-4.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-5.png" alt="">
                    </div>
                    <div class="carousel-cell p-4">
                            <img src="../../../../assets/assets/images/logos/award-6.png" alt="">
                    </div>
                  </carousel>
                <!-- <div class="flexslider carousel outer-navs png-over text-center" data-options="numItems:5,minWidth:100,itemMargin:100,controlNav:false">
                    <ul class="slides">
                        <li>
                                </a>
                        </li>
                        <li>
                            <a class="img-box" href="#">
                            </a>
                        </li>
                       
                         
                    </ul>
                </div> -->
            </div>
        </div>

   
    
        <app-public-footer></app-public-footer>
