.floatMenu{
    display: flex;
    right: 5px ;
    padding: 5px;
    justify-content: center;
    color: black;
    font-weight: bold;
}
.floatParent{
    background: #D6B13E;
    border-top: 2px solid #004332;
    border-bottom: 2px solid #004332;
    border-left: 2px solid #004332;
    border-right: 2px solid #004332;
    border-radius: 0px 0px 10px 10px ;
}
.profile {
    position: relative;
    display: inline-block;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #D6B13E;
    /* margin-right: 10px; */
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100px;
    transform: translateX(-50%);
    display: none;
    padding: 5px 0;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .profile:hover .profile-dropdown {
    display: block;
  }
  
  .profile-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .profile-dropdown li {
    margin: 0;
    padding: 0;
  }
  
  .profile-dropdown li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
  }
  
  .profile-dropdown li a:hover {
    background-color: #ddd;
  }
  