.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.custom_item img {
    width: 64px;
}

.custom_item h6{
    font-size: 15px;
    font-weight: 500;
}

.custom_item {
    margin: 0px 15px;
    text-align: center;
}

.custom_item a:hover {
    color: blue;
}


