<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">
                <div class="col-12">
                   <div class="card recent-sales overflow-auto">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                            <h5 class="card-title">Orders <span>| Karavan Restaurant</span></h5>
                            <!-- <a  style="
                            border: 1px solid orange;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            padding: 10px;
                            display: block;
                            width: 100px;
                            background-color: darkorange;
                            border-radius: 5px;
                            color: white;"  routerLink="/add-user"> <i class="bi bi-plus"></i> <span>Add User</span> </a>
                        
                          -->
                         <table class="table table-borderless datatable">
                            <thead>
                               <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Customer Name</th>
                                  <th scope="col">Paymnet Mode</th>
                                  <th scope="col">Order Date</th>
                                  <th scope="col">PickUp Date</th>
                                  <th scope="col">Total Price</th>
                                  <th scope="col">Order Status</th>
                               </tr>
                            </thead>
                           <tbody>
                              <tr>
                                 <th>1</th>
                                 <td>Berhanu Kebito</td>
                                 <td>Cash</td>
                                 <td>Nov 29, 2022</td>
                                 <td>Nov 30, 2022</td>
                                 <td>300.00</td>
                                 <td><span class="badge bg-danger">Pending</span></td>
                              </tr>

                              <tr>
                                 <th>2</th>
                                 <td>Zerubabel</td>
                                 <td>Cash</td>
                                 <td>Nov 29, 2022</td>
                                 <td>Nov 30, 2022</td>
                                 <td>300.00</td>
                                 <td><span class="badge bg-success">Approved</span></td>
                              </tr>
                           </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
 <app-footer></app-footer>