<app-navbar></app-navbar>

<div class="header-title ken-burn white" style="background-image: url(../../../../assets/assets/images/bg-28.jpg)">
    <div style="position: absolute; top: 40%; left: 50%; transform:translate(-50%, -50%);">
        <div class="title-base">
            <h1>Why Karavan?</h1>
            <p style="font-family: Reliant_Free !important;
            font-size: 35px !important;
            font-weight: bold;">What makes karavan Unique</p>
        </div>
    </div>
</div>

<div class="title-base" style="transform: translateY(-100%);">
                
     
    <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
    </div>
    <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
    </div>
    <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
    </div>
    <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 30px; margin-top: 3px;">
    </div>
    <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
    </div>
</div>
  
    
    <div style="background-color: #004332 !important; margin-top: -85px !important;">
        <div class="container content" >
            <div class="row">
                <div class="col-md-6">
                    <div class="title-base text-left">
                        <h2 class="words">Karavan Promises</h2>
                        <p class="words">Feel free to contact us for any problem</p>
                    </div>
                    <p class="words">
                        Karavan’s value propositions, almost like promises that Karavan pledges to its customers, 
                        are developed to communicate the core values of the organisation in relation to the quality 
                        of food and beverage it prepares. The message is aimed at both customers and employees. 
                        All Karavan employees are trained on these and other value propositions on a regular basis 
                        and are reminded of them during briefings and meetings. We believe this is one of Karavan’s 
                        Unique Selling Point and what sets it apart from other similar businesses. 
                        The message is communicated via shop point of sale advertisement materials including wall 
                        posters and table mats.
                <a href="#" class="btn-border circle-button btn btn-sm mt-5" style="background-color: white !important; font-family: Lithos;">Order Now!</a>
            </p>

                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="assets/assets/images/karavan-images/promo/promo1.gif" alt="Promo 1">
                    
                    <!-- <div class="list-group accordion-list" data-time="1000" data-type='accordion'>
                        <div class="list-group-item" style="background-color:transparent;">
                            <a>Do you provide product support ? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="background-color:transparent;">
                            <a>Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="background-color:transparent;">
                            <a>Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="background-color:transparent;">
                            <a>Which currencies do you accept ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="background-color:transparent;">
                            <a>How many years of experience are required?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row"  style="bottom: 0; padding: 0px !important; margin-bottom: -40px;  margin-top: 80px !important;">
                <div class="col-md-8 col-center">
                    <div class="title-base">
                        <h2 style="color: #D6B13E;">Popular Karavan Promises</h2>
                        <p style="color: #D6B13E;">Choose and enjoy</p>
                    </div> 
                </div>
            </div>
        </div>
         
    </div>
   
    <div class="section-bg-image">
         <!-- <div class=" content">
                <div class="row">
                    <div class="col-md-8 col-center">
                        <div class="title-base">
                            <h2>Popular Karavan Promises</h2>
                            <p>Choose and enjoy</p>
                        </div> 
                    </div>
                </div>
         </div>
         -->
         
        <div class="row vertical-row mt-5" style="background-color: rgb(63, 42, 35); ">
            <div class="col-md-6 fill" data-anima="fade-left">
                <img class="img" src="assets/assets/images/karavan-images/promise/coffee.jpg" alt="" />
            </div>
            <div class="col-md-6">
               <div style="padding: 50px;">
                <h3 style=" font-weight: bold; color: white; text-align: center;">Our Coffee</h3>
                <p style=" font-weight: bold; color:white !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style=" font-weight: bold; color:white !important;">
                   Coffee loses its aroma shortly after it is grind. 
                   We never buy grind or powdered coffee. Our coffee is tailor-roasted, 
                   according to Karavan Coffee secret blend, and grind in-house every 
                   morning before brewing. 
                </p>
                <p style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:white !important;">
                    Try Our  <a href="#" style="color: #9D5035;">Macchiato!</a>
                </p>
               </div>
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color: rgb(204, 204, 120);  margin-top: 30px;">
            <div class="col-md-6">
                <div  style="padding: 50px;">
                    <h3 style=" font-weight: bold; color:#383A3C; text-align:center;">Burger</h3>
                    <p style=" font-weight: bold; color:#383A3C !important;">
                        በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                        በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                        የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                        ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                    </p>
                    <p style=" font-weight: bold; color:#383A3C !important;">
                        Our burgers are hand-made every day in the premises. 
                        We buy a combination of five different cuts of beef and 
                        grind it in-house according to our special recipe.
                        Freezing burgers creates structural damage to the meat,
                        which leads to loss of nutritional value 
                        and flavourful juices once the burger is cooked. 
                    </p>
                    <p style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#383A3C !important;">
                        
                       Taste the <a href="#" style="color: red;">Difference!</a>
                    
                    </p>
                </div>
                
            </div>
            <div class="col-md-6 fill" data-anima="fade-right" >
                <img width="100%"  src="assets/assets/images/karavan-images/promise/burger.jpg" alt="" />
            </div>
        </div>


        <div class="row vertical-row mt-5" style="background-color: #CA9834; margin-top: 30px;">
            <div class="col-md-6  fill " data-anima="fade-left">
                <img  src="assets/assets/images/karavan-images/promise/gingertea.jpg" alt="" />
            </div>
            <div class="col-md-6"  style="padding: 50px;">
                <h3 style=" font-weight: bold; color:black; text-align:center;">Ginger Tea</h3>

                <p style=" font-weight: bold; color:black !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style=" font-weight: bold; color:black !important;">
                  Ginger is highly regarded for its stimulant and medicinal values. 
                  We squeeze our ginger in-house. We never use powdered ginger. 
                  Try our ginger tea. 
                </p>
                <p style=" font-family: Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; color:black !important;" >
                    Try Our
                    <a href="#" style="color: #913A35;">
                        Ginger Tea or Ginger Tea Spress
                    </a> 
                </p>
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color: #F39F9E;  margin-top: 30px;">
            <div class="col-md-6" style="padding: 50px;">
                <h3 style=" font-weight: bold; color:#4E4140; text-align:center;">Cake Ingredients</h3>
                <p style=" font-weight: bold; color:#4E4140 !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style=" font-weight: bold; color:#4E4140 !important;">
                    We use superior ingredients on all our cakes, 
                    which we import ourselves from Europe. KERRY, 
                    our supplier from the United Kingdom is a leader in 
                    food and beverage ingredients market. Ask for our 2016 
                    'Cake for all Occasions' catalogue of our creative designs 
                    and unique styles for all occasions including wedding, birthday, 
                    graduation and more.
                </p>
                <p style=" font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#4E4140 !important;">
                    Try Our <a href="#" style="color:#9E5135;"> Opera Cake </a>
                </p>
            </div>
            <div class="col-md-6 fill" data-anima="fade-right">
                <img src="assets/assets/images/karavan-images/promise/cake.jpg" alt="" />
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color: #EBD3AC;  margin-top: 30px;">
            <div class="col-md-6 fill" data-anima="fade-left">
                <img src="assets/assets/images/karavan-images/promises/Chicken.jpg" alt="" />
            </div>
            <div class="col-md-6"  style="padding: 50px;">
                 <h3 style="color:#62363C; font-weight: bold; text-align:center;">Our Fried Chicken </h3>
                <p style=" font-weight: bold; color:#62363C !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style=" font-weight: bold; color:#62363C !important;">
                    Our Fried chicken breading is as original as the authentic
                     southern fried chicken recipe. It includes imported secret additions 
                     for authenticity. To finish it off, our fried chickens are made using 
                     a pressure fryer cooker, the only way to cook chicken with less oil 
                     through to the bone without burning the surface. Don't eat chicken 
                     if you can see blood in the inside. 
                </p>
                <p style=" font-family: Arial, Helvetica, sans-serif; font-style: italic; font-weight: bold; color:#62363C !important;">
                    
                    Try Our <a href="#" style="color: #A72C32;">Our Fried Chicken</a>
                
                </p>
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color: #FDDB87;  margin-top: 30px;">
            <div class="col-md-6" style="padding: 50px;">
                <h3 style="color:#835F40; font-weight: bold; text-align:center;">Habesha Dish</h3>
                <p style="color:#835F40 !important; font-weight: bold;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style="color:#835F40 !important;font-weight: bold;">
                   The flavour of a Habesha dish is as good as the Berbere 
                   it is made from. Our Berbere is home made with 14 secret 
                   ingredients and unlike commercial blend, the chilli seed 
                   is fully excluded from the final mix for colour, taste and 
                   avoid unnecessary heat and discomfort to the stomach. 
                </p>
                <p style="color:#835F40 !important;font-weight: bold;">
                    Try Our <a href="#" style="color: #883936;"> Lamb Curry </a>
                </p>
            </div>
            <div class="col-md-6 fill" data-anima="fade-right">
                <img src="assets/assets/images/karavan-images/promise/habesha.jpg" alt="" />
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color:#F4F6EE; margin-top: 30px;">
            <div class="col-md-6 fill" data-anima="fade-left">
                <img src="assets/assets/images/karavan-images/promise/juice.jpg" alt="" />
            </div>
            <div class="col-md-6"  style="padding: 50px;">
                <h3 style="color:#8A2E8B; font-weight: bold; text-align:center;">
                     Sugar Free Option On
                    <p style="color: #829141; font-style:oblique;">Juice & Smoothie</p>
                </h3>

                <p style=" font-weight: bold; color:#8A2E8B !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style="color:#8A2E8B !important;">
                   Bulk squeezed fruit doesn't allow for sugar-free option. 
                   It also goes off quickly due to high water content added 
                   during bulk squeezing. Our Juice is freshly squeezed per 
                   order with sugar-free option. 
                </p>
                <p style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-style: italic; color:#8A2E8B !important;" >
                   Just the <a href="#" style="color:#829141 ;">Goodness!</a>
                </p>
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color: #F4DD86;  margin-top: 30px;">
            <div class="col-md-6" style="padding: 50px;">
                <h3 style="color:#451C09; text-align:center;">Pizza Ingredients</h3>
                <p style=" font-weight: bold; color:#451C09 !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style=" font-weight: bold; color:#451C09 !important;">
                    Basil is one of the key ingredients when making Italian style pizza. 
                    We get fresh basil delivered from Debre-Zait twice a week just so your 
                    pizza is as authentic as you would find in any Italian restaurant. 
                </p>
                <p style=" font-weight: bold; font-style: italic; font-family: Arial, Helvetica, sans-serif; color:#451C09 !important;">
                    
                    Taste the <a href="#" style="color:#DC3702 ;">Difference!</a>
                
                </p>
            </div>
            <div class="col-md-6 fill" data-anima="fade-right">
                <img src="assets/assets/images/karavan-images/pizzas/image-53.jpg" alt="" />
            </div>
        </div>

        <div class="row vertical-row mt-5" style="background-color: #F4BEC2;margin-top: 30px; ">
            <div class="col-md-6 fill" data-anima="fade-left">
                <img style="margin: 0 0 0 150px;" height="250px" src="assets/assets/images/karavan-images/promises/icecream.png" alt="" />
            </div>
            <div class="col-md-6"  style="padding: 50px;">
                <h3 style="color: #5AA83D; text-align:center;">
                    Our Ice-cream Punch 
                   <p style="font-style:oblique;">Sundaes</p>
                </h3>

                <p style=" font-weight: bold; color:#3A1700 !important;">
                    በቤታችን ውስጥ በየዐዕለቱ የሚዘጋጀው በርገር ከአምስት ያላነሱ የስጋ አይነቶችን በጠዋት 
                    በመግዛት በራሳችን ሬሲፒ መሰረት የሚቀመም ሲሆን ፤ 
                    የበርገር ስጋ በረዶ ሲነካው ጣዕሙ እና ለሰውነታችን የሚሰጠው ጠቀሜታ ስለሚቀንስ ፤ 
                    ስጋዉን በትኩስነቱ እና ንጥረነገሩን እንዳዘለ ለናንተ ማቅረብ የዕለት ተለት ተልዕኮችን ነው።
                </p>
                <p style=" font-weight: bold; color:#3A1700 !important;">
                    Our ice cream punch (Sundaes) are made from fresh milk
                    ice cream and various fruits, biscuits and syrups. 
                    No other establishment in Addis matches our ice cream
                    punch variety and recipe.
                </p>
                <p style="  font-style: italic; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#3A1700 !important;" >
                    
                    Try Our <a href="#" style="color: #5AA83D;">Ice-cream Punch</a> 
                
                </p>
            </div>
        </div>
    </div>
    <app-public-footer></app-public-footer>

    
    