
      <div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 30px; margin-top: 3px;">
        </div>
        <div style="background-image: linear-gradient(to right, #F4EE7D, #CA9E2C,#F4EE7D, #CA9E2C); height: 5px; margin-top: 3px;">
        </div>
    </div>


      <footer  style="background-image: url(assets/assets/images/karavan-images/logo/footer.png)">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="footer_title">About Us </h4>
                            <!-- <img  src="assets/assets/images/karavan-images/logo/logo-01.png" alt="" /> -->
                            <p style="color: white !important;font-size: 15px !important; ">
                                We believe we are in the business of selling 
                                happiness in the form of food and drink.
                                We source superior ingredients and craft beautifully layered products with 
                                the ultimate objective of making our customers happy.                            
                            </p>
                            
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer_title"> <span> Quick Links</span> </h4>
                            <div  style="padding: 5px; ">
                               <div class="links">  <a class="quick_link" href="/welcome">Home</a></div> 
                               <div class="links">  <a class="quick_link" href="/order">Order</a></div> 
                               <div class="links">  <a class="quick_link" href="/menu">Menu</a></div> 
                               <div class="links">  <a class="quick_link" href="/whykaravan">Karavan Promises</a></div> 
                               <div class="links">  <a class="quick_link" href="/gallery">Gallery</a></div> 
                               <div class="links">  <a class="quick_link" href="/about">About</a></div> 
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 class="footer_title">Contact </h4>

                           <div class="contact_link links">
                                <!-- <i  class="fa fa-map-marker" aria-hidden="true"></i>  -->
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                               <span style="margin-left: 3px;">Megenagna, Bethlehem  Plazza</span> 
                            </div> 
                           <div class="contact_link"> 
                                <i  class="fa fa-envelope-o" aria-hidden="true"></i> 
                                <span style="margin-left: 3px;">info@karavan.com</span> 
                            </div> 
                           <div class="contact_link"> 
                                <i  class="fa fa-phone" aria-hidden="true"></i> 
                               <span style="margin-left: 3px;">+2519011111999</span> 
                            </div> 
                        </div>
                        
                        <div class="col-md-3">
                            <h4 class="footer_title">Follow  Us </h4>
                            <div class="btn-group social-group btn-group-icons d-block">
                            <p><a target="_blank" routerLink="/welcome" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" routerLink="/welcome" data-social="share-twitter"><i class="fa fa-twitter"></i></a></p>
                                <p> <a target="_blank" routerLink="/welcome" data-social="share-google"><i class="fa fa-instagram"></i></a>
                                <a target="_blank" routerLink="/welcome" data-social="share-linkedin"><i class="fa fa-youtube"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
           
        </footer>
        <div class="row copy-row"  style="background: #004332 !important;">
            <div class="col-md-12"  style="color: white;  font-family:Manrope !important; font-weight: bold;">
                &copy; 2023 Karavan Coffee - Designed by: <a style="color: white !important;" routerLink="/welcome">Karavan Dev Team</a>
            </div>
        </div>