/* You can add global styles to this file, and also import other style files */


@font-face{
	font-family: Lithos;
	src: url(assets/fonts/karavan_font/LithosPro-Regular.otf);
}

/* @font-face{
	font-family: Reliant_Bevealed;
	src: url(assets/fonts/karavan_font/reliant/Reliant_Beveled.otf);
} */

/* @font-face{
	font-family: Reliant_Shadow;
	src: url(assets/fonts/karavan_font/reliant/Reliant_Shadow_Free.ttf);
}

@font-face{
	font-family: Reliant_Trash;
	src: url(assets/fonts/karavan_font/reliant/Reliant_Trash.otf);
} */

/* Custom Styling */

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
/* *{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}



body{
    background: var(--bg);
} */


.customsection{
    /* height: 100vh; */
    height:100vh;
    width: 100%;
    background-image: url(assets/assets/images/karavan-images/promises/karavan.jpg); 
    /* height: 80vh; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* background: #004332; */
}

.customheading{
    padding:5px 30px;
}
.customheadingP{
    font-family: Manrope !important;
    line-height: 1.5;
    color: white;
    font-size: 25px;
    padding:5px 80px;
    padding-top: 10px;
    font-weight: 500;
}
.images{
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px;  */
    /* padding-top: 100px; */
}
.customImage{
    height: 20rem;
}

@media screen and (max-width:1008px) {
    .customsection{
        height: 120vh;
    }
    .customheading{
        padding:0px;
        margin-bottom: 40px;
    }
    .customheadingP{
        margin-top: 10px;
        font-size: 20px;
        padding:0px;
        font-weight: 400;
    }
    .images{
        /* display: inline; */
        margin: 0px;
        /* display: flex;
        justify-content: space-evenly; */
    }
    .customImage{
        height: 15rem;
        /* width: 10rem; */
    }
}

@media screen and (max-width:650px) {
    .customsection{
        height: 140vh;
    }
}

.btn{
    margin-top: 1rem;

    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);

    cursor: pointer;
}


.btn:hover{

    letter-spacing: .2rem;

}

.headercustom{
    /* background: var(--bg); */
    background: #004332;
    display: flex;
    height: 60px;
    margin-top:3.2rem;
    align-items: center;
    justify-content:space-between;
    padding: 4rem 7%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.headercustom .logocustom{
    /* border: 2px solid  #D6B13E; */
    /* padding: 10px; */
    background: transparent;
    border-radius: 0px 0px 40px 40px;

}

.headercustom .logocustom img{
    height: 15rem;
    background-size: cover;
    position: relative;
}
.headercustom .navbarcustom{
     display: flex;
    justify-content: space-around;
    /* background: #d3ad7f; */
    flex-grow: 1;
    border: 2px solid  #D6B13E;
    padding: 10px 0px;
    border-radius: 0px 50px 50px 0px;
}
.headercustom .navbarcustom a{
    /* margin: 0 1rem; */
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    padding: 0px 10px;
}
.headercustom .navbarcustom div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.headercustom .navbarcustom a:hover{
    color:  #D6B13E !important;
    border-bottom: .2rem solid   #D6B13E !important;
    padding-bottom: .2rem !important;
    transition: all 0.5s ease-in-out;
}

.headercustom .icons  div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.headercustom .icons div:hover{
    color: var(--main-color);
}

#menu-btn{

    display: none;

}

.headercustom .search-form{
    position: absolute;
    top:115% ;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}


.headercustom .search-form.active{
    transform: scaleY(1);
}

.headercustom .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;

}

.headercustom .search-form label{
    cursor:pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);

}
.headercustom .search-form label:hover{
    color: var(--main-color);
}

.headercustom .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 25rem;
    background: #004332;
    border-left: 1px solid #D6B13E;
    border-bottom: 1px solid #D6B13E;
    padding: 0 1.5rem;
    transition: all .5s ease-in-out;
 }

.headercustom .cart-items-container.active{
    right: 0;
}

.headercustom .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
 }

 .headercustom .cart-items-container .cart-item a{
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    opacity: 1;
 }
 .headercustom .cart-items-container .cart-item a:hover{
    border-bottom: 1px solid white;
 }

 .headercustom .cart-items-container .cart-item:last-child{
    float: inline-end;
 }
 .headercustom .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color:var(--black)
 }
 .headercustom .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
 }


 .headercustom .cart-items-container .cart-item img{
    height: 7rem;
 }

 .headercustom .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
 }


 .headercustom .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(
        --main-color
    )
 }

.headercustom .cart-items-container .btn{
    width: 100%;
    text-align: center;
}



@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .headercustom{
        padding: 1.5rem 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        /* display: inline-block; */
        display: none;
    }
    .headercustom{
        /* display: inline-block; */
    }

    .headercustom .logocustom img{
    height: 10rem;

    }
    .headercustom .logo{

        /* width: 100%; */
        /* position: absolute; */
        /* display: none; */

    }
    /* .headercustom .navbarcustom{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh- 9.5rem);
    }


    .headercustom .navbarcustom.active{
        right: 0;
    } */
    /* .headercustom .navbarcustom a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    } */

    .headercustom .search-form{
        width: 90%;
        right: 2rem;
    }
}


@media (max-width:450px){

    .headercustom{
        display: inline;
    }
    .logocustom{
        display: flex;
        justify-content: center;
    }
    .headercustom .logocustom{
        border: none;
    }
    .headercustom .navbarcustom{
        border: none;
        border-bottom: 2px solid #D6B13E;
    }

    .headercustom .cart-items-container{
        right: 100%;
    }

    .headercustom .cart-items-container.active{
        left: 0;
    }




    html{
        font-size: 50%;
    }

}
@media (max-width:300px){

    html{
        font-size: 40%;
    }

}



/*
body{
    background: #13131a;
}

headercustom{

    display: flex;
    justify-content: space-around;
    margin: 0px 30px;

}
headercustom .navbarcustom{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
headercustom >*{
    border: 1px solid crimson;
    height: 50px;
    width: 100px;
    background: #d3ad7f;
}

headercustom .logo img{
    height: 10rem;
} */

@font-face{
	font-family: Reliant_Free;
	src: url('assets/fonts/karavan_font/reliant/Reliant Limited Free Version.otf');
}

h1, h2, h3{
    font-family: Lithos !important;
}

.footer_title{
    color: #D6B13E;
    font-size: 15px;
    font-family: Lithos;
    font-weight: 900;
}



.quick_link{
    color: white !important;
    font-size: 15px !important;
    font-family:Manrope !important;
}
.links{
    margin-bottom: 3px !important;
}


.quick_link:hover{
    color: #D6B13E  !important;
    font-family: Lithos !important;

}
.contact_link{
    color: white !important;
    font-size: 15px !important;
    font-family:Manrope !important;
}

.contact_link  i{
    color: #D6B13E;
    padding: 0px 5px;
}

.main{
    background: white !important;
}







#custom_checkbox,#nav-checkbox, #custom_nav_toggle{
    display: none;
   }
   .custom-header{
       position:fixed;
       top:0;
       left:0;
       width:100%;
       align-items: center;
       display: flex;
       justify-content: space-between;
       padding: 20px 20px;
       transition:background-color 0.5s ease;
   }
   /* .logo h2{
       color: #fff;
       text-transform: uppercase;
       font-weight: normal;
   } */
   .logo img{
    /* width:20%; */
    height: 60px;
   }
   .nav-menu li{
       display: inline-block;
   }
   .nav-menu li a{
       color: #fff;
       text-decoration: none;
       font-size: 1.5rem;
       padding: 0 15px;

   }
   .nav-menu li a:hover{
       color: orangered;
   }
   .scroll {
       background-color:#612c2c;
   }
   @media (max-width:800px){
       .custom-header{
           display: block;
       }
       .logo{
           margin-left: 15px;
           display: none;
       }
       #custom_nav_toggle{
           display: block;
           position: absolute;
           cursor: pointer;
           top: 25px;
           right: 0;
           margin: 0 1rem;
       }
       .custom_nav_toggle img{
           width: 25px;
       }
       .close,
       input[type='checkbox']{
           /* display: none; */

       }
       #nav-checkbox:checked ~ .nav-menu{
           /* background: #cc0000; */
           margin-top: 10px;
           padding: 10px 0;
           border-top: 1px solid #fff;
       }

       .nav-menu li{
           display: none;
           margin: 10px 0;
       }

       #nav-checkbox:checked ~ ul.nav-menu li{
           display:  block;
       }
       #nav-checkbox:checked ~ label.custom_nav_toggle .open{
           display:  none;
       }
       #nav-checkbox:checked ~ label.custom_nav_toggle .close{
           display:  block;
       }



   }


   .cakecard{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 3px;
    background: #004332;
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (max-width:1350px) {
    .cakecard{
        width: 300px;
    }
}

.cakecard::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D6B13E;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.cakecard:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.cakecard::after{
    content: Karavan;
    position: absolute;
    top: 30%;
    left: -20%;
    font-price: 12rem;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.cakecard .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.cakecard:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}

.cakecard .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 270px;
}

.cakecard .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 100001;
}

.cakecard:hover .contentBx{
    height: 210px;
}

.cakecard .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}
.cakecard .contentBx .price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.cakecard:hover .contentBx .price{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.cakecard .contentBx .price h4{
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.cakecard .contentBx .price h4 sup{
    color: #d1c9c9;
}

.cakecard .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background:#004332;
    border: 1px solid #D6B13E;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    color: #D6B13E !important;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.cakecard:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    /* transition-delay: 0.6s; */

}

.cakecard .contentBx a:hover{
    color: #004332 !important;
    background: #D6B13E;
    border: 1px solid #004332;
    font-weight: bold;
}

.knowusbetter{
    font-size: 40px !important; 
    border: 2px dashed #CA9E2C; 
    padding: 30px; 
    border-radius: 50%;
    color: #004332 !important;
}
.knowusbetter:hover{
    color:#CA9E2C  !important; 
    background: #004332;
}



.card2 {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .card2-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .card2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  .card2:hover .card2-image {
    transform: scale(1.1);
  }
  
  .card2:hover .card2-image img {
    filter: grayscale(100%);
  }
  
  .card2-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(50%);
  }
  
  .card2:hover .card2-details {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card2-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
    transform: translateY(-20px);
  }
  
  .card2:hover .card2-title {
    transform: translateY(0);
  }
  
  .card2-description {
    margin: 10px 0 0;
    font-size: 16px;
    transition: all 0.3s ease;
    transform: translateY(-20px);
  }
  
  .card2:hover .card2-description {
    transform: translateY(0);
  }
  

  .cardcus {
    perspective: 1000px;
  }
  
  .cardcus-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .cardcus:hover .cardcus-inner {
    transform: rotateY(180deg);
  }
  
  .cardcus-front, .cardcus-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .cardcus-front {
    transform: rotateY(0deg);
  }
  
  .cardcus-back {
    transform: rotateY(180deg);
  }
  
  /* Example styling for the card */
  .cardcus {
    width: 300px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cardcus h2 {
    font-size: 24px;
    margin: 20px;
  }
  


  .gallery-body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
/* .gallery img{
    width: 100%;
} */

.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.custom_item img {
    width: 64px;
}

.custom_item h6{
    font-size: 15px;
    font-weight: 500;
}

.custom_item {
    margin: 0px 15px;
    text-align: center;
}

.custom_item a:hover {
    color: blue;
}


.loadmorebtn{
     text-align: right;
     margin: 50px auto; 
     font-style: oblique;
     color: #D6B13E !important;
}
.loadmorebtn button{
    /* font-family: Lithos; */
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background-color: transparent !important;
}

.loadmorebtn button:hover{
    /* color: orangered;
    background-color: #612C2C; */
    /* text-decoration: underline; */
}

.hover-underline-animation {
    position: relative;
    /* color: #FFFFFF; */
    font-size: 20px;

    text-decoration: none;
  }
  .hover-underline-animation:hover{
    color: #D6B13E;
  }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    bottom: 0;
    left: 0;
    background-color: #004332;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);

  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }
#customgallery {
    line-height:0;
    -webkit-column-count:4; /* split it into 5 columns */
    -webkit-column-gap:0px; /* give it a 5px gap between columns */
    -moz-column-count:4;
    -moz-column-gap:0px;
    column-count:4;
    column-gap:0px;
  }
  
  #customgallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:0px !important; /* to match column gap */
    margin-left:0px !important; /* to match column gap */
  }
  
  
  
  @media (max-width: 1200px) {
  
    #customgallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
  }
  
  @media (max-width: 1000px) {
    #customgallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
  }
  
  @media (max-width: 800px) {
    #customgallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
  }
  
  @media (max-width: 400px) {
    #customgallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
  }