
<app-navbar></app-navbar>


    <div id="pagewrap" class="pagewrap">
        <div id="html-content" class="wrapper-content">
       
          <div class="page-container">
            <div data-bottom-top="background-position: 50% 50px;" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -50px;" class="page-title page-product">
              <div class="container">
                <div class="title-wrapper">
                  <div data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(-5px);" data--50-top="transform: translateY(-15px);opacity:0.8;" data--120-top="transform: translateY(-30px);opacity:0;" data-anchor-target=".page-title" class="title" style="font-family: Lithos;">Login To Your Account</div>
                  <div data-top="opacity:1;" data--120-top="opacity:0;" data-anchor-target=".page-title" class="divider"><span class="line-before"></span><span class="dot"></span><span class="line-after"></span></div>
                  <div data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(5px);" data--50-top="transform: translateY(15px);opacity:0.8;" data--120-top="transform: translateY(30px);opacity:0;" data-anchor-target=".page-title" class="subtitle">We hope you will like this product and give us 5 star rating</div>
                </div>
              </div>
            </div>
            <div class="page-content-wrapper">
                <main>
                    <div class="container">
                       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                          <div class="container">
                             <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                                   <!-- <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a></div> -->
                                   <div class="card mb-3">
                                      <div class="card-body">
                                         <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                            <p class="text-center small">Enter your username & password to login</p>
                                         </div>
                                         <form class="row g-3" [formGroup]="loginForm">
                                            <div class="col-12">
                                               <label for="email" class="form-label">Email</label>
                                               <div class="input-group" [class.error]=" loginForm.controls['email'].dirty && loginForm.hasError('required','email') ">
                                                   <input type="text" formControlName="email" class="form-control" id="youremail" required>
                                                  <div class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"> * Please Enter Your Email.</div>
                                               </div>
                                            </div>
                                            <div class="col-12">
                                               <label for="password" class="form-label">Password</label> 
                                               <div class="input-group" [class.error]=" loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                                <input type="password" formControlName="password" class="form-control" id="YPassword" required>
                                                <div class="text-danger"  *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> * Please Enter Your Password!</div>
                                               </div>
                                            </div>
                                            <div class="col-12">
                                               <div class="form-check"> 
                                                <!-- <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">  -->
                                                <!-- <label class="form-check-label" for="rememberMe">Remember me</label> -->
                                            </div>
                                            </div>
                                            <div class="col-12"> 
                                                <button class="btn btn-primary w-100"  (click)="onLogin()" type="submit">Login</button>
                                            </div>
                                            <div class="col-12">
                                               <p class="small mb-0">Don't have account? <a routerLink="/register">Create an account</a></p>
                                            </div>
                                         </form>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </section>
                    </div>
                 </main>
            </div>
          </div>
       </div>
     
    </div>
    
    
    <footer>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <img width="180" src="../../../../assets/assets/images/logos/logo-03.png" alt="" />
                        <p>
                            We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                        </p>
                        <div class="btn-group social-group btn-group-icons">
                            
                            <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2022 Karavan - info@karavan.com - +251-911-111-111 - Bethlehem Plazza, Megenagna - Designed by: <a href="#">Karavan Dev Team</a>
                </div>
            </div>
        </div>
    </footer>
    
    


