<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
       <h1>Add Photo / Video</h1>
       
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">New Gallery Form</h5>
                   <form class="row g-3 " [formGroup]="addGalleryForm">
                     <div class="row form-group">
                        <div class="col-md-6">
                           <label for="title" class="form-label">Event Title</label> 
                           <input type="text" formControlName="title" class="form-control" id="title">
                           <div *ngIf="addGalleryForm.controls['title'].dirty && addGalleryForm.hasError('required', 'title')" class="text-danger"> * Please, Enter Unit Price.</div>
                        </div>
                        
                       

                        <div class="col-md-6">
                           <label for="date" class="form-label">Event Date</label>
                           <input type="date" formControlName="date" class="form-control">
                           <div *ngIf="addGalleryForm.controls['date'].dirty && addGalleryForm.hasError('required', 'date')" class="text-danger"> * Please, Select Event Date.</div>
                        </div>
                       
                     </div>
                     <div class="row form-group" >
                        <div class="col-md-6">
                              <label for="type" class="form-label">Select Type</label>
                              <select formControlName="type" class="form-select">
                                 <option selected>Open this select menu</option>
                                 <option value="1">One</option>
                                 <option value="2">Two</option>
                                 <option value="3">Three</option>
                               </select>
                         <div *ngIf="addGalleryForm.controls['type'].dirty && addGalleryForm.hasError('required', 'type')" class="text-danger"> * Please, Enter Some Description.</div>

                        </div>
                        <div class="col-md-6">
                           <label for="image" class="form-label">Choose Image</label>
                           <input type="file" formControlName="image" class="form-control" (change)="onFileSelect($event)" id="image">
                         <div *ngIf="addGalleryForm.controls['image'].dirty && addGalleryForm.hasError('required', 'image')" class="text-danger"> * Please, Enter Some Description.</div>

                        </div>
                     </div>
                   

                     <div class="row form-group">
                        <div class="col-md-12">
                         <label for="description" class="form-label">Some Description</label>
                         <textarea class="form-control" formControlName="description" id="description" cols="30" rows="10"></textarea>
                         <div *ngIf="addGalleryForm.controls['description'].dirty && addGalleryForm.hasError('required', 'description')" class="text-danger"> * Please, Enter Some Description.</div>
                        </div>
                      </div>
 
                     <div class="text-center"> 
                        <button type="submit" (click)="onAddingGallery()" class="btn btn-primary">Submit</button> 
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
 <app-footer></app-footer>